

table, th, td {

  border: 1px solid black;
  border-collapse: collapse;
}
th, td {
  padding: 5px;
  text-align: left;
}

#cont div {
    display: none;
   
}

.number {
    margin-top: 11px;
    width: 50px;
}

#datepicker-container {
	position: fixed;
	z-index: 10000;
}



.apartment-price{
	color: #FFFFFF;
	font: 18px montserratbold , Arial, serif;
	background : #FF7900;
	padding : 1px 15px 0px 25px;
}

.apartment_box{
	color : #333333;
	font : 14px montserratultra_light ,Arial , serif;
	margin : 0px 0px 15px;
	padding : 0px 15px;
}


.apartment-details-list{
	color : #333333;
	font : 14px montserratultra_light, Arial, serif;
	background : #F4F4F4;
	padding: 10px;
}

    
img {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 150px;
     height : 150px;
  }
  
  img:hover {
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}


.box {

    display: grid;
	 
 	place-items: center;

    background: #191919;
    
    text-align: center;
    transition: 0.25s;
    margin-top: 100px
}

.box input[type="text"],
.box select,
.box input[type="password"] {
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #3498db;
    padding: 10px 10px;
    width: 250px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s
}

.box select option{
	background-color: black;
	color: #2ecc71;
}

.form-inline {
   max-width: 80em;
   margin: auto;
   border-radius: 10px;
   align-content: center;
   background-color: #fff;
   box-shadow: 0 19px 40px rgba(0, 0, 0, 0.30), 0 1px 5px rgba(0, 0, 0, 0.22);
}

input {
    font-size: 16px;
    padding-bottom: 5px;
    padding-left: 0;
    position: relative;
    border: transparent;
    border-bottom: 1px solid rgba(109, 93, 93, 0.4);
    text-align: left;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.form_button {
    display: block;
    margin: 30 auto;
    width: 260px;
    border: none;
    outline: none;
    background: none;
    height: 40px;
    border-radius: 30px;
    border-color: transparent;
    margin-bottom: 30px;
    text-transform: uppercase;
    color: #fff;
    font-weight: 600;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: -webkit-linear-gradient(left, grey, black);
    font-size: 15px;
    cursor: pointer;
}

.filterButton {
    
    margin: 30 auto;
    width: 100px;
    border: none;
    outline: none;
    background: none;
    height: 40px;
    border-radius: 30px;
    border-color: transparent;
    margin-bottom: 30px;
    text-transform: uppercase;
    color: #fff;
    font-weight: 600;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: -webkit-linear-gradient(left, grey, black);
    font-size: 15px;
    cursor: pointer;
}

#searchUsers {
    
    margin: 30 auto;
    width: 90px;
    border: none;
    outline: none;
    background: none;
    height: 30px;
    border-radius: 30px;
    border-color: transparent;
    margin-bottom: 30px;
    text-transform: uppercase;
    color: #fff;
    font-weight: 600;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: -webkit-linear-gradient(left, grey, black);
    font-size: 15px;
    cursor: pointer;
}


.box h1 {
    color: white;
    text-transform: uppercase;
    font-weight: 500
}

.box input[type="text"]:focus,
.box select:focus,
.box input[type="password"]:focus {
    width: 300px;
    border-color: #2ecc71
}

.box input[type="submit"] {
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #2ecc71;
    padding: 14px 40px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer
}

.box input[type="submit"]:hover {
    background: #2ecc71
}



.box label.error {
    color: red;
    font-size: 1rem;
    display: block;
    margin-top: 5px;
}




.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto; }
  @media (min-width: 576px) {
    .container {
      max-width: 540px; } }
  @media (min-width: 768px) {
    .container {
      max-width: 720px; } }
  @media (min-width: 992px) {
    .container {
      max-width: 960px; } }
  @media (min-width: 1200px) {
    .container {
      max-width: 1140px; } }

.container-fluid {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto; }

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px; }

.no-gutters {
  margin-right: 0;
  margin-left: 0; }
  .no-gutters > .col,
  .no-gutters > [class*="col-"] {
    padding-right: 0;
    padding-left: 0; }


































