#galery{
  
  max-height:300px;
  
    background-position: center;
    background-size: cover;
}


.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
    color: green;
    background: lightgreen;
}

.ui-state-disabled .ui-state-default {
    color: black;
    background: lightred;
}

h3{
	text-align:center;
	color:blue;
	font-weight: bold;
}

 label.error {
    color: red;
    font-size: 2rem;
    display: block;
    margin-top: 5px;
}