

.apartment-price{
	color: #FFFFFF;
	font: 18px montserratbold , Arial, serif;
	background : #FF7900;
	padding : 1px 15px 0px 25px;
}

.apartment_box{
	color : #333333;
	font : 14px montserratultra_light ,Arial , serif;
	margin : 0px 0px 15px;
	padding : 0px 15px;
}


.apartment-details-list{
	color : #333333;
	font : 14px montserratultra_light, Arial, serif;
	background : #F4F4F4;
	padding: 10px;
}

    
img {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 150px;
     height : 150px;
  }
  
  img:hover {
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}






.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto; }
  @media (min-width: 576px) {
    .container {
      max-width: 540px; } }
  @media (min-width: 768px) {
    .container {
      max-width: 720px; } }
  @media (min-width: 992px) {
    .container {
      max-width: 960px; } }
  @media (min-width: 1200px) {
    .container {
      max-width: 1140px; } }

.container-fluid {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto; }

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px; }

.no-gutters {
  margin-right: 0;
  margin-left: 0; }
  .no-gutters > .col,
  .no-gutters > [class*="col-"] {
    padding-right: 0;
    padding-left: 0; }


































